<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faraday</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app" v-cloak>
        <login-form>

        {{ greeting }}
        <input @keyup.enter="greet" v-model="greeting" type="" >
        <hr>
        <button @click="togglebox">Toggle me</button>
        <div v-if="isVisible" class="box"></div>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp({
                data: function(){
                    return{
                        greeting: 'hello vue 3',
                        isVisible: true 
                    }
                },
                methods: {
                    togglebox(){
                        this.isVisible = !this.isVisible
                    },
                    greet(){
                        console.log(this.greeting)
                    }
                }
            })
            app.component('login-form', {
                template: `
                    <form @submit="handleSubmit">
                        <h1>{{ title }}</h1>
                        <custom-input type="email" v-model="email">
                        <custom-input type="password" v-model="password">
                        <button>Login</button>
                    </form>
                `,
                components: ['custom-input'],
                data(){
                    return{
                        title: 'Login Form',
                        email: '',
                        password: ''
                    }
                },  
                methods: {
                    handleSubmit(){
                        console.log(email, password)
                    }

                }
            })
            app.component('custom-input',{
                template: `
                    <label>
                            {{label}}
                            <input type='text'> 
                        </label>
                `
            })
            app.mount('#app')
        </script>
</body>
</html>